/*
  Bootstrap
  http://getbootstrap.com/
*/
js_bootstrap JS "ComponentesJS\bootstrap\js\bootstrap.min.js"
js_ie10viewportbugworkaround JS "ComponentesJS\ie10-viewport-bug-workaround\ie10-viewport-bug-workaround.js"
/*
  JQuery
  http://jquery.com/
*/
js_jquery JS "ComponentesJS\jquery\jquery.min.js"
/*
  metisMenu
  https://github.com/onokumus/metisMenu
*/
js_metisMenu JS "ComponentesJS\metisMenu\metisMenu.min.js"
/*
  sb-admin-2
  http://startbootstrap.com/template-overviews/sb-admin-2/
*/
js_sbadmin2 JS "ComponentesJS\sb-admin-2\js\sb-admin-2.js"

