imagens_logo PNG "logo.png"
imagens_fundo JPG "fundo.jpg"
css_CreditBr CSS "CreditBr.css"
/*
   Bootstrap
   http://getbootstrap.com/
*/
css_bootstrap CSS "..\..\ComponentesJS\bootstrap\css\bootstrap.min.css"
fonts_glyphiconshalflingsregular EOT "..\..\ComponentesJS\bootstrap\fonts\glyphicons-halflings-regular.eot"
fonts_glyphiconshalflingsregular SVG "..\..\ComponentesJS\bootstrap\fonts\glyphicons-halflings-regular.svg"
fonts_glyphiconshalflingsregular TTF "..\..\ComponentesJS\bootstrap\fonts\glyphicons-halflings-regular.ttf"
fonts_glyphiconshalflingsregular WOFF "..\..\ComponentesJS\bootstrap\fonts\glyphicons-halflings-regular.woff"
fonts_glyphiconshalflingsregular WOFF2 "..\..\ComponentesJS\bootstrap\fonts\glyphicons-halflings-regular.woff2"
/*
  metisMenu
  https://github.com/onokumus/metisMenu
*/
css_metisMenu CSS "..\..\ComponentesJS\metisMenu\metisMenu.min.css"
/*
  sb-admin-2
  http://startbootstrap.com/template-overviews/sb-admin-2/
*/
css_sbadmin2 CSS "..\..\ComponentesJS\sb-admin-2\css\sb-admin-2.css"
/*
  Font Awesome
  http://fortawesome.github.io/Font-Awesome/
*/
css_fontawesome CSS "..\..\ComponentesJS\font-awesome\css\font-awesome.min.css"
fonts_fontawesomewebfont EOT "..\..\ComponentesJS\font-awesome\fonts\fontawesome-webfont.eot"
fonts_fontawesomewebfont SVG "..\..\ComponentesJS\font-awesome\fonts\fontawesome-webfont.svg"
fonts_fontawesomewebfont TTF "..\..\ComponentesJS\font-awesome\fonts\fontawesome-webfont.ttf"
fonts_fontawesomewebfont WOFF "..\..\ComponentesJS\font-awesome\fonts\fontawesome-webfont.woff"
fonts_fontawesomewebfont WOFF2 "..\..\ComponentesJS\font-awesome\fonts\fontawesome-webfont.woff2"
/*
  Incones elaborados no site
  http://www.favicon-generator.org/
*/
icones_androidicon36x36 PNG "..\..\ComponentesJS\icones\android-icon-36x36.png"
icones_androidicon48x48 PNG "..\..\ComponentesJS\icones\android-icon-48x48.png"
icones_androidicon72x72 PNG "..\..\ComponentesJS\icones\android-icon-72x72.png"
icones_appleicon57x57 PNG "..\..\ComponentesJS\icones\apple-icon-57x57.png"
icones_appleicon60x60 PNG "..\..\ComponentesJS\icones\apple-icon-60x60.png"
icones_appleicon72x72 PNG "..\..\ComponentesJS\icones\apple-icon-72x72.png"
icones_appleicon76x76 PNG "..\..\ComponentesJS\icones\apple-icon-76x76.png"
icones_favicon16x16 PNG "..\..\ComponentesJS\icones\favicon-16x16.png"
icones_favicon32x32 PNG "..\..\ComponentesJS\icones\favicon-32x32.png"
icones_favicon96x96 PNG "..\..\ComponentesJS\icones\favicon-96x96.png"
icones_favicon ICO "..\..\ComponentesJS\icones\favicon.ico"
